

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"></a>
  <p>Welcome to Dashboard</p>
<button mat-raised-button color="warn" (click)="logout()">Logout</button>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
  aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <h2>Employee App</h2>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a class="nav-link" routerLink="/details"><button type="button" class="btn btn-success">Employee</button></a>
      </li>
      <li class="nav-item">

      </li>
    </ul>

  </div>
</nav>
